
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body, html {
    height: 100%;
    display: grid;
  }
  .center-me {
    margin: auto;
  }

p { text-align: center }     
h1 { text-align: center }
h2 { text-align: center }
h3 { text-align: center }

img.center-img {                  
        display: block;
        margin: 0 auto;
      }

.container {
    padding: 0 40px;
    margin-left: 80px;
}

 
a {
    display: block;
    text-decoration: none; 
    margin-bottom: 1.2em; 
    position: relative;
    color: yellow;        
    }
    .group-item a{
        text-align: center;    
    }

 
a:hover {
    color: rgba(62, 224, 56, 0.938);
}

h1 {
    font-size: 2em;
    color: rgba(11, 221, 29, 0.938);
}

h2 {
    font-size: 1.5em;
    color: chocolate;
    margin: 1.25em 0;
}

h3 {
   color: rgb(207, 164, 24); 
}

   


 

  
  